<!--
File name: footer.ejs
Author: Shawn McLaughlin <shawnmcdev@gmail.com>
Site: https://shawnmcla-portfolio.herokuapp.com/
Description: Partial EJS file for the bottom part of HTML pages.
-->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; Copyright Shawn McLaughlin 2017. Logo by <a href="https://twitter.com/zomokii">Zomoki</a>.</p>
      </div>
    </footer>
    <!-- JAVASCRIPT SECTION -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
  </body>
</html>
