<!--
File name: error.ejs
Author: Shawn McLaughlin <shawnmcdev@gmail.com>
Site: https://shawnmcla-portfolio.herokuapp.com/
Description: Partial EJS file for errors.
-->
<% include partials/header.ejs %>
<!-- Displays error messages to the user, should an error occur -->
<div class="center-block">
    <h1 class="text-center"><%= error.status %> <%= message %></h1>
    <img alt="drawing of Shawn" class="center-block img-responsive" src="/Assets/images/me.png"/>
</div>
<% include partials/footer.ejs %>